#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.5.7
Name=foremost
GenericName=ForensicTool
Comment=foremost
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-foremost.sh
Categories=Forensics and Reporting
